@charset "UTF-8";

.contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contact__block {
    max-width: fit-content;
}
.details__email {
    margin-bottom: 1rem;
}
.details__email  a {
    text-decoration: none;
    color: white;
}

.contact__details {
    text-align: left;
    max-width: 400px;
}

.details__phone {
    user-select: text;
}

.details__email, .details__phone {
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 42.5rem) {
    .page__content {
        padding: calc(var(--pad)*10 + 7.1875rem) calc(var(--pad)*2);
    }
    .contact__wrapper {
        align-items: start;
    }
    .details__email, .details__phone {
        font-size: 1.25rem;
    }
}

@media (max-width: 24.375rem) {
    .contact__block {
        border: 1px white solid;
        border-radius: 0 0.5rem 0.5rem 0;
        border-left: none;
        padding: 0.5rem;
    }
    .page__content {
        padding: calc(var(--pad)*8 + 7.1875rem) calc(var(--pad) - 0.375rem);
    }

    .details__email, .details__phone {
        font-size: .8rem;
    }
}
