.experience {

    .page__inner_wrapper {
        position: relative;
        width: calc(60vw - (var(--pad) *4));
        left: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        :nth-child(odd of .experience__block) {
            margin-left: auto;
        }
    }

    .experience__block {
        max-width: 350px;
        text-wrap: wrap;
    }
    .experience__header {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        flex-direction: row-reverse;
    }
    .header__company {
        font-size: 60px;
        font-weight: 200;
    }
    .experience__list {
        text-align: left;
    }

    .experience__listItem {
        margin-top: 1rem;
        font-weight: 400;
    }
}
