.experience {

    .page__inner_wrapper {
        position: relative;
        width: calc(60vw - (var(--pad) *4));
        left: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        :nth-child(odd of .experience__block) {
            margin-left: auto;
        }
    }

    .experience__block {
        max-width: 21.875rem;
        text-wrap: wrap;
    }
    .experience__header {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        flex-direction: row-reverse;

        .header__date {
            min-width: fit-content;
        }
    }
    .header__company {
        font-size: 3.75rem;
        font-weight: 200;
    }
    .experience__list {
        text-align: left;
    }

    .experience__listItem {
        padding-top: 1rem;
        font-weight: 400;
    }
}

@media (max-width: 42.5rem) {
    .experience {
        .page__inner_wrapper {
            left: 35vw;
        }
        .experience__block {
            margin-bottom: 2rem;
        }
        .experience__header {
            flex-direction: column;
            .header__company {
                font-size: 3rem;
            }
        }
        .experience__listItem {
            font-size: 0.8rem;
            min-width: 11.25rem;
        }
    }
}

@media (max-width: 24.375rem) {
    .experience {
        .page__inner_wrapper {
            left: 25vw;
        }
        .experience__header {
            flex-direction: column;
            .header__date {
                font-size: 0.7rem;
            }
        }
    }
}
